<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YEARWEATHER_KEY</key>
	<string>qUDrLVW%2BChRr8td0U6UvfWp8twTDYDJjvuvzxvG9X3GCXldLwqMNSw%2BV1Z4EETR6nHfbobm9BATPCLwvqyg%2Fmg%3D%3D</string>
</dict>
</plist>
